body {
    text-align: justify;
}

h1, h2, h3 {
    font-variant: small-caps;
    text-align: center;
}

a {
    color: black;
}

h3 {
    color: grey;
}

span.verse-num {
    color: grey;
    display: inline-block;
    width: 1.25em;
    vertical-align: super;
    font-size: 7pt;
}
span.verse {
    font-family: serif;
}

p.verse-block {
    margin-top: 0em;
    margin-bottom: 0.3em;
    padding-top: 0em;
    padding-bottom: 0em;
}

blockquote {
    color: #AA7777;
}

.psalm-header {
    color: #AA7777;
    text-align: left;
    padding-bottom: .5em;
    text-align: center;
    width: 86%;
    padding-left: 7%;
}
